alive_progress==3.1.5
beautifulsoup4==4.12.3
docx2pdf==0.1.8
dpla==0.5
elsapy==0.5.1
ffmpeg_downloader==0.3.0
fitz==0.0.1.dev2
gensim==4.3.2
markdownify==0.12.1
numpy==2.0.1
openai==1.37.1
pandas==2.2.2
pdf2docx==0.5.8
plotly==5.22.0
progress==1.6
PyAutoGUI==0.9.54
PyGetWindow==0.0.9
PyPDF2==3.0.1
pyperclip==1.8.2
python-dotenv==1.0.1
python_docx==1.1.2
pywin32==306
pywinauto==0.6.8
pyzotero==1.5.18
Requests==2.32.3
scikit_learn==1.4.2
selenium==4.23.1
tiktoken==0.6.0
tqdm==4.66.4
undetected_chromedriver==3.5.5
webdriver_manager==4.0.1
xmltodict==0.13.0
